<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="grid-container"><h1>Week 1</h1><!--START WEEK-->

    <div class="grid-container shifts"><!--START SHIFTS-->

        <div class="day1"><!--START DAY-->
            <div class="dayheader">Monday</div>
            <div class="shift">Monday shift</div>
            <div class="shift">Monday shift</div>
            <div class="shift">Monday shift</div>
        </div><!--END DAY-->


</body>
</html>