<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="grid-container"><h1>Week 1</h1><!--START WEEK-->

    <div class="grid-container shifts"><!--START SHIFTS-->

        <div class="day1"><!--START DAY-->
            <div class="dayheader">Monday</div>
            <div class="shift">Monday shift</div>
            <div class="shift">Monday shift</div>
            <div class="shift">Monday shift</div>
        </div><!--END DAY-->

        <div class="day2"><!--START DAY-->
            <div class="dayheader">Tuesday</div>
            <div class="shift">Tuesday shift</div>
            <div class="shift">Tuesday shift</div>
        </div><!--END DAY-->

      <div class="day3"><!--START DAY-->
        <div class="dayheader">Wednesday</div>
      </div><!--END DAY-->

        <div class="day4"><!--START DAY-->
            <div class="dayheader">Thursday</div>
            <div class="shift">Thursday shift</div>
            <div class="shift">Thursday shift</div>
            <div class="shift">Thursday shift</div>
            <div class="shift">Thursday shift</div>
            <div class="shift">Thursday shift</div>
        </div><!--END DAY-->

        <div class="day5"><!--START DAY-->
            <div class="dayheader">Friday</div>
        </div><!--END DAY-->

        <div class="day6"><!--START DAY-->
            <div class="dayheader">Saterday</div>
        </div><!--END DAY-->

        <div class="day7"><!--START DAY-->
            <div class="dayheader">Sunday</div>
        </div><!--END DAY-->

    </div><!--END SHIFTS-->

</div><!--END WEEK-->


</body>
</html>